<%- include('../../partial/head.ejs') %>

<!-- Preloader -->
<!-- <div id="pre_loader"></div> -->

<!--header-section start-->
<%- include('../../partial/header.ejs') %>
<!-- header-section end -->



<!-- Footer Area Start -->
<%- include('../../partial/footer.ejs') %>
<!-- Footer Area End -->