  <!-- Footer Area Start -->
  <section class="footer_area section_pt" id="footer">
    <div class="container">
      <div class="footer_top">
        <div class="footer_subscribe mx-auto position_relative">
          <h2 class="text-white">Subscribe To Newslatter</h2>
          <form method="POST" autocomplete="off" id="frmSubscribe" class="frmSubscribe py_60">
            <div class="in-box between_two_part">
              <input type="email" class="form-control" id="sMail" name="sMail" placeholder="Email Address">
              <button type="submit" class="btn_theme" name="emailSubscribe" id="emailSubscribe">Submit</button>
            </div>
            <span id="subscribeMsg"></span>
          </form>
        </div>
      </div>
      <div class="footer_center mb_60">
        <div class="footer_menu">
          <a href="#">Travel</a>
          <span class="line"></span>
          <a href="#">Fashioon</a>
          <span class="line"></span>
          <a href="#">Tecnology</a>
          <span class="line"></span>
          <a href="#">Health</a>
          <span class="line"></span>
          <a href="#">LifeStyle</a>
        </div>
      </div>
      <div class="footer_bottom small py_30">
        <p class="copyright">© 2023 Automon. All rights reserved</p>
        <div class="social between_part">
          <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"> <i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"> <i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer Area End -->

  <a href="#" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>

  <!-- jquery -->
  <script src="../../assets/js/jquery.min.js"></script>
  <!-- bootstrap -->
  <script src="../../assets/js/bootstrap.min.js"></script>
  <!-- custom -->
  <script src="../../assets/js/custom.js"></script>
  </body>


  </html>