  <!--header-section start-->
  <header class="header_area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg" id="#navbar">
            <a class="na vbar-brand" href="index.html"><img src="assets/images/logo.png" class="logo" alt="logo"></a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
              <ul class="navbar-nav mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#post">Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="categories.html">Categories</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Pages </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="authors.html">authors</a></li>
                    <li><a class="dropdown-item" href="blog.html">blog</a></li>
                    <li><a class="dropdown-item" href="blog_details.html">Blog details</a></li>
                  </ul>
                </li>
              </ul>
              <div class="nav_right">
                <form method="POST" autocomplete="off" id="nav_search" class="nav_search_box">
                  <div class="in-box between_two_part">
                    <button type="submit" class="nav_search_icon"> <i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                </form>
                <div class="user_profile">
                  <div class="nav_user_img">
                    <img src="assets/images/user_img.png" alt="Image" class="user_img">
                  </div>
                  <div class="user_info">
                    <div class="between_part top_info">
                      <img src="assets/images/user_img.png" alt="Image" class="user_img2">
                      <div class="user_mail">
                        <h6 class="user_title">Lori Ferguson</h6>
                        <a href="https://pixner.net/cdn-cgi/l/email-protection#d4b8bba6b1b994bda4a7a1b9fab7bbb9" class="small_text"><span class="__cf_email__" data-cfemail="ceabb6afa3bea2ab8ea9a3afa7a2e0ada1a3">[email&#160;protected]</span></a>
                      </div>
                    </div>
                    <div class="others_info">
                      <div class="between_part part">
                        <span class="material-symbols-outlined"> account_box </span>
                        <a href="#">My Profile</a>
                      </div>
                      <div class="between_part part">
                        <span class="material-symbols-outlined"> favorite </span>
                        <a href="#">My Wishlist</a>
                      </div>
                      <div class="between_part part">
                        <span class="material-symbols-outlined"> settings </span>
                        <a href="#">Setting</a>
                      </div>
                      <div class="between_part part">
                        <span class="material-symbols-outlined"> help_center </span>
                        <a href="#">Help Center</a>
                      </div>
                      <div class="between_part part">
                        <span class="material-symbols-outlined"> logout </span>
                        <a href="#">Sign Out</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- header-section end -->